<!--==================================================================
    =============================== NAV-START ========================-->
    <nav id="nav" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="30">
        <div class="t-nav">
            <div class="container">
                <div class="top-nav">
                    <div class="top-text">
                        <p class="top-txt">Welcome to Doctor Network: <span class="top-txt1"> Lorem Ipsum is simply
                                dummy printing and typesetting industry.</span></p>
                    </div>
                    <ul class="top-ul">

                        <li>
                            <a class="fb-anchor" href="#fb"> <i class="font-icon fa fa-facebook"></i></a>
                        </li>
                        <li><a class="twitter-anchor fa" href="#twitter"><i class="font-icon fa fa-twitter"></i></a>
                        </li>
                        <li><a class="lin-anchor" href="#lin"><i class="font-icon fa fa-linkedin-square"></i></a></li>
                        <li><a class="inst-anchor" href="#inst"><i class="font-icon fa fa-instagram"></i></a></li>
                        <li><a class="login-anchor" href="#login"><i class="font-icon fa fa-user"></i>
                                <p class="login-text">Login</p>
                            </a></li>
                        <button class="join-button">Join Us</button>
                    </ul>

                </div>
            </div>
        </div>

        <div class="main-nav">
            <div class="container">
                <div class="main-box">
                    <img class="main-logo" src="assets/img/Doctor-Network.png" alt="missing">
                    <div class="icon" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    <ul class="main-ul">
                        <li><a class="home" href="#home">Home</a></li>
                        <li><a class="about" href="#about">About Us</a></li>
                        <li><a class="benefit" href="#benefit">Benefits</a></li>
                        <li><a class="group" href="#group">Groups</a></li>
                        <li><a class="news" href="#news">News & Events</a></li>
                        <li><a class="contact" href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </nav>
    <!--==================================================================
    =============================== NAV-END ========================-->
